{
  "plugins": [
    ["prismjs", {
        "languages": ["bash", "shell", "javascript", "css", "markup", "php", "scss", "sass"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}
