.article {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;

  &__headline {
    margin: 0 0 1rem;
    font-size: 2rem;
  }

  h2,
  h3,
  h4,
  h5,
  p,
  table { margin: 1.5rem 0; }
}
