
pre {
  display: block;
  padding: var(--global-space);
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
}

pre code {
  display: inline-block;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  font-size: 1rem;
  font-family: var(--mono-font-stack);
}

.hljs {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  color: var(--font-color);
  background: var(--block-background-color);
}

.hljs-comment,
.hljs-quote {
  color: var(--secondary-color);
}

.hljs-variable {
  color: var(--font-color);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: var(--primary-color);
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: var(--secondary-color);
}

.hljs-string {
  color: var(--secondary-color);
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: var(--primary-color);
}

.hljs-doctag {
  color: var(--secondary-color);
}

.hljs-attr {
  color: var(--primary-color);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: var(--primary-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
