.main-body {
  display: flex;
  flex-wrap: wrap;
  margin: 4.5rem auto 0;
  padding: 1rem;

  @media screen and (min-width: $desktop-breakpoint) {
    width: var(--page-width);
    max-width: 90%;
    margin: 4rem auto 0;
  }
}
